.container-grid-select{
    width: 80vw !important;
}

.container-grid-title {
    width: 80vw !important;
    margin : 20px 10vw 0 10vw !important;
    display: flex;
    background-color: #1B1A17;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em
}

.breed-select {
    max-width: 500px;
    margin-left: 10vw;
}

.title-text {
    color:#A35709;
    
    text-align: center;
}

.no-filter {
    text-align: center;
    color:#A35709;
}